body {
    font-family: Arial, sans-serif;
    background-color: #B5E2FA;
    background-image: url('gridlines.png');
    background-repeat: repeat;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20pt;
    text-align: center;
    
    border: 2px solid #333; 
    padding: 20px; 
    max-width: 600px; 
    background-color: #EDDEA4; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.guess {
    background-color: #F7A072; 
    border: 2px solid #000; 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 400px; 
}

input[type="text"]{
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"][name="quit"] {
    background-color: #0FA3B1;
    color: #F9F7F3;
    border: none;
    padding: 8px 16px; /* Adjust padding as needed */
    cursor: pointer;
    width: 200px;
    text-align: center;
}

input[type="submit"][name="quit"]:hover {
    background-color: #B5E2FA;
}
a{
    text-decoration: none;
    color: #B5E2FA;
}


a{
    text-decoration: none;
    color: #F9F7F3;
}
strong{display: inline;}

.hidden-characters {
    font-weight: bold;
    font-size: 40pt;
    /* Add other styles as needed */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hangman-image {
    position: absolute;
    top: 50%;
    left: 765px; /* Adjusted to move images to the right side */
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    width: 750px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
   
}
@keyframes flyAnimation {
    0% { transform: translateY(0) rotate(0deg); }
    25% { transform: translateY(-10px) rotate(45deg); }
    50% { transform: translateY(0) rotate(0deg); }
    75% { transform: translateY(10px) rotate(-45deg); }
    100% { transform: translateY(0) rotate(0deg); }
}

.fly {
    position: absolute; 
    top: 3%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    animation: flyAnimation 5s infinite;
}

.pics {
    position: absolute; 
    top: 30%; 
    left: 1300px; 
}

