body {
    font-family: Mistral, Arial, sans-serif;
    background-color: #B5E2FA;
    background-image: url('gridlines.png');
    background-repeat: repeat;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.pin-image {
    position: absolute;
    top: -15px; /* Adjust this value to move the pin up or down */
    left: 50.5%; /* Adjust this value to horizontally center the pin */
    transform: translateX(-50%);
    width: 120px; /* Adjust the width as needed */
    height: auto;
    
}
.background-window {
    background-color: #EDDEA4;
    border: 2px solid #333; 
    padding: 20px; 
    max-width: 600px; 
    margin: 50px auto; /* Center the window */
}

table {
    margin: 0 auto; 
    background-color: #F9F7F3; 
    width: 20%;
}

th, td {
    padding: 10px;
}

.back-btn {
    background-color: #0FA3B1;
    color: #F9F7F3;
    border: none;
    cursor: pointer;
}

button {
    background-color: #0FA3B1;
    color: #F9F7F3;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px;
    width: 20%;
    box-sizing: border-box;
}

button:hover {
    background-color: #B5E2FA;
}